variables:
  MYSQL_ROOT_PASSWORD: 'root'
  MYSQL_DATABASE: 'movienator-database-test'
  MYSQL_USER: 'public'
  MYSQL_PASSWORD: 'public'
  MYSQL_HOST: mysql
  DB_HOST: mysql
  HATESPEECH_API_KEY: $hateSpeech_API_Key
  MOVIE_API_KEY: $movie_API_Key
  DB_PASSWORD: $DB_password

stages:
  - test

backend-tests:
  image: node:latest
  stage: test
  services:
    - mysql:5.7
  before_script:
    - cd movienator_express
  script:
    - npm run install-test
  after_script:
    - echo 'finished expressTest'

frontend-tests:
  image: node:latest
  stage: test
  before_script:
    - cd movienator_react
  script:
    - npm run install-test
  after_script:
    - echo 'finished reactTest'

backend-linter:
  image: node:latest
  stage: test
  allow_failure: true
  before_script:
    - cd movienator_express
  script:
    - npm run install-lint

frontend-linter:
  image: node:latest
  stage: test
  allow_failure: true
  before_script:
    - cd movienator_react
  script:
    - npm run install-lint
