[
    {
        "scope": "https://community-purgomalum.p.rapidapi.com:443",
        "method": "GET",
        "path": "/containsprofanity?text=FUCK",
        "body": "",
        "status": 200,
        "response": true,
        "rawHeaders": [
            "Content-Type",
            "text/plain; charset=UTF-8",
            "X-Cloud-Trace-Context",
            "480c7ffaf957f896681c56c46f5f457f",
            "X-RapidAPI-Version",
            "1.2.8",
            "X-RapidAPI-Region",
            "AWS - eu-central-1"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:44843",
        "method": "GET",
        "path": "/extern/hatespeech?text=FUCK",
        "body": "",
        "status": 200,
        "response": {
            "data": true
        },
        "rawHeaders": [
            "Express",
            "*",
            "Content-Type",
            "application/json; charset=utf-8",
            "13",
            "ETag",
            "W/\"d-AZMLZIkhLL6zV6brmxWwd5pv3rs\"",
            "Sat, 28 Jan 2023 11:08:54 GMT",
            "close"
        ],
        "responseIsBinary": false
    }
]