[
    {
        "scope": "https://api.themoviedb.org:443",
        "method": "GET",
        "path": "/3/person/xxxxx/movie_credits?api_key=fb73e59a39ce4d841ab2597bdf8b7003&trophies=true",
        "body": "",
        "status": 404,
        "response": {
            "success": false,
            "status_code": 34,
            "status_message": "The resource you requested could not be found."
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=utf-8",
            "100",
            "Sat, 28 Jan 2023 09:39:10 GMT",
            "openresty",
            "public, max-age=28800",
            "X-Memc",
            "MISS",
            "X-Memc-Key",
            "445ee894bf90412c763a6b7c420de8127b0f7871",
            "X-Memc-Age",
            "0",
            "X-Memc-Expires",
            "17709",
            "Error from cloudfront",
            "1.1 78720628b37ebf3e33c42dc098252ee8.cloudfront.net (CloudFront)",
            "FRA56-P7",
            "h3=\":443\"; ma=86400",
            "ACNxJvySic6Lv5C52qRZ26N0OrjdbCJq1j4J-c1dOqUMwvDhihoy7g==",
            "5382"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:44623",
        "method": "GET",
        "path": "/extern/movies/actor/xxxxx",
        "body": "",
        "status": 500,
        "response": "",
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    }
]