[
    {
        "scope": "https://api.themoviedb.org:443",
        "method": "GET",
        "path": "/3/person/xxxxx/movie_credits?api_key=MOVIE_API_KEY&trophies=true",
        "body": "",
        "status": 404,
        "response": {
            "success": false,
            "status_code": 34,
            "status_message": "The resource you requested could not be found."
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=utf-8",
            "100",
            "Tue, 31 Jan 2023 11:55:08 GMT",
            "openresty",
            "public, max-age=28800",
            "X-Memc",
            "MISS",
            "X-Memc-Key",
            "445ee894bf90412c763a6b7c420de8127b0f7871",
            "X-Memc-Age",
            "0",
            "X-Memc-Expires",
            "17091",
            "Error from cloudfront",
            "1.1 e60c6ee10489538b535a3fc65e54d028.cloudfront.net (CloudFront)",
            "DUS51-P2",
            "h3=\":443\"; ma=86400",
            "VVkhf9jLtTpLCLC5T_Z3ZpVHlcaPEmL_kXingQI4G_necXvEfHJW8g==",
            "5789"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:34455",
        "method": "GET",
        "path": "/extern/movies/actor/xxxxx",
        "body": "",
        "status": 500,
        "response": "",
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    }
]