[
    {
        "scope": "https://community-purgomalum.p.rapidapi.com:443",
        "method": "GET",
        "path": "/containsprofanity?text=HELLO",
        "body": "",
        "status": 200,
        "response": false,
        "rawHeaders": [
            "Content-Type",
            "text/plain; charset=UTF-8",
            "X-Cloud-Trace-Context",
            "30237760284deb61e54b3cfac6aab1e3",
            "X-RapidAPI-Version",
            "1.2.8",
            "X-RapidAPI-Region",
            "AWS - eu-central-1"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:37083",
        "method": "GET",
        "path": "/extern/hatespeech?text=HELLO",
        "body": "",
        "status": 200,
        "response": {
            "data": false
        },
        "rawHeaders": [
            "Express",
            "*",
            "Content-Type",
            "application/json; charset=utf-8",
            "14",
            "ETag",
            "W/\"e-66Kg1i/Prnika7fkvfgOCHV/pA8\"",
            "Sat, 28 Jan 2023 11:08:54 GMT",
            "close"
        ],
        "responseIsBinary": false
    }
]