[
    {
        "scope": "https://api.themoviedb.org:443",
        "method": "GET",
        "path": "/3/movie/xxxx/credits?api_key=MOVIE_API_KEY&trophies=true",
        "body": "",
        "status": 404,
        "response": {
            "success": false,
            "status_code": 34,
            "status_message": "The resource you requested could not be found."
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=utf-8",
            "100",
            "Tue, 31 Jan 2023 11:54:57 GMT",
            "openresty",
            "public, max-age=28800",
            "X-Memc",
            "MISS",
            "X-Memc-Key",
            "3ba77bd8ab0117aae8d415529755f6c6b15fcdbb",
            "X-Memc-Age",
            "0",
            "X-Memc-Expires",
            "16334",
            "Error from cloudfront",
            "1.1 e60c6ee10489538b535a3fc65e54d028.cloudfront.net (CloudFront)",
            "DUS51-P2",
            "h3=\":443\"; ma=86400",
            "p1e9H-dbUnqlUpPsrAcmo6xqFJjv_BdQj-c3xsBJR759rNx2u1u3Ew==",
            "5797"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:41467",
        "method": "GET",
        "path": "/extern/actor/movie/xxxx",
        "body": "",
        "status": 500,
        "response": "",
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    }
]