[
    {
        "scope": "https://api.themoviedb.org:443",
        "method": "GET",
        "path": "/3/discover/movie?with_genres=99999&api_key=***REMOVED***&page=1&trophies=true",
        "body": "",
        "status": 200,
        "response": {
            "page": 1,
            "results": [],
            "total_pages": 0,
            "total_results": 0
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=utf-8",
            "57",
            "openresty",
            "Sat, 28 Jan 2023 11:08:54 GMT",
            "public, max-age=600",
            "ETag",
            "a8d277d2d95f2ea20f792a48c43093dc",
            "RefreshHit from cloudfront",
            "1.1 78720628b37ebf3e33c42dc098252ee8.cloudfront.net (CloudFront)",
            "FRA56-P7",
            "h3=\":443\"; ma=86400",
            "xE3JYXmNpdR8QABrlvmuVPbHvt3hyG3c4vHYFuMPZzZmsjFReElUzg=="
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:39629",
        "method": "GET",
        "path": "/extern/movie/genre/99999?page=1",
        "body": "",
        "status": 404,
        "response": "",
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    }
]