[
    {
        "scope": "https://api.themoviedb.org:443",
        "method": "GET",
        "path": "/3/genre/movie/list?api_key=fb73e59a39ce4d841ab2597bdf8b7003&trophies=true",
        "body": "",
        "status": 200,
        "response": {
            "genres": [
                {
                    "id": 28,
                    "name": "Action"
                },
                {
                    "id": 12,
                    "name": "Adventure"
                },
                {
                    "id": 16,
                    "name": "Animation"
                },
                {
                    "id": 35,
                    "name": "Comedy"
                },
                {
                    "id": 80,
                    "name": "Crime"
                },
                {
                    "id": 99,
  [...]
    {
        "scope": "http://127.0.0.1:44073",
        "method": "GET",
        "path": "/extern/genres",
        "body": "",
        "status": 200,
        "response": {
            "data": [
                {
                    "genreId": 28,
                    "genreName": "Action"
                },
                {
                    "genreId": 12,
                    "genreName": "Adventure"
                },
                {
                    "genreId": 16,
                    "genreName": "Animation"
                },
                {
                    "genreId": 35,
                    "genreName": "Comedy"
                },
                {
                    "genreId": 80,
                    "genreName": "Crime"
                },
          [...]
