[
    {
        "scope": "https://api.themoviedb.org:443",
        "method": "GET",
        "path": "/3/discover/movie?with_genres=99999&api_key=MOVIE_API_KEY&page=1&trophies=true",
        "body": "",
        "status": 200,
        "response": {
            "page": 1,
            "results": [],
            "total_pages": 0,
            "total_results": 0
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=utf-8",
            "57",
            "openresty",
            "Tue, 31 Jan 2023 13:31:39 GMT",
            "public, max-age=600",
            "ETag",
            "a8d277d2d95f2ea20f792a48c43093dc",
            "RefreshHit from cloudfront",
            "1.1 e60c6ee10489538b535a3fc65e54d028.cloudfront.net (CloudFront)",
            "DUS51-P2",
            "h3=\":443\"; ma=86400",
            "vR1lm92ymuhrZblcEQWtlPUwPM8q7u283Gkd2lJeCzJXgbNbM2JYTA=="
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:46121",
        "method": "GET",
        "path": "/extern/movie/genre/99999?page=1",
        "body": "",
        "status": 404,
        "response": "",
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    }
]