[
    {
        "scope": "https://api.themoviedb.org:443",
        "method": "GET",
        "path": "/3/movie/xxxx/credits?api_key=fb73e59a39ce4d841ab2597bdf8b7003&trophies=true",
        "body": "",
        "status": 404,
        "response": {
            "success": false,
            "status_code": 34,
            "status_message": "The resource you requested could not be found."
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=utf-8",
            "100",
            "Sat, 28 Jan 2023 09:39:01 GMT",
            "openresty",
            "public, max-age=28800",
            "X-Memc",
            "MISS",
            "X-Memc-Key",
            "3ba77bd8ab0117aae8d415529755f6c6b15fcdbb",
            "X-Memc-Age",
            "0",
            "X-Memc-Expires",
            "15708",
            "Error from cloudfront",
            "1.1 78720628b37ebf3e33c42dc098252ee8.cloudfront.net (CloudFront)",
            "FRA56-P7",
            "h3=\":443\"; ma=86400",
            "JBvNTzXCOXqKbagOc5jzaXCIDYcAGqXMHIUGi0HkylzFIQDLhuIfjA==",
            "5388"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:33935",
        "method": "GET",
        "path": "/extern/actor/movie/xxxx",
        "body": "",
        "status": 500,
        "response": "",
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    }
]