[
    {
        "scope": "https://api.themoviedb.org:443",
        "method": "GET",
        "path": "/3/movie/-1/similar?api_key=MOVIE_API_KEY&trophies=true",
        "body": "",
        "status": 404,
        "response": {
            "success": false,
            "status_code": 34,
            "status_message": "The resource you requested could not be found."
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=utf-8",
            "100",
            "Tue, 31 Jan 2023 11:55:12 GMT",
            "openresty",
            "public, max-age=28800",
            "X-Memc",
            "MISS",
            "X-Memc-Key",
            "f2690cb59024c9536f708ddfed2b53a873c5ff65",
            "X-Memc-Age",
            "0",
            "X-Memc-Expires",
            "17894",
            "Error from cloudfront",
            "1.1 e60c6ee10489538b535a3fc65e54d028.cloudfront.net (CloudFront)",
            "DUS51-P2",
            "h3=\":443\"; ma=86400",
            "e2SHUf8mrlQnJdvFxyX6wJIukIdwIQ4BAmo69dDcNZaK9I-nG5eW_w==",
            "5786"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:34171",
        "method": "GET",
        "path": "/extern/movie/-1/recommendations",
        "body": "",
        "status": 500,
        "response": "",
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    }
]