[
    {
        "scope": "https://community-purgomalum.p.rapidapi.com:443",
        "method": "GET",
        "path": "/containsprofanity?text=HELLO",
        "body": "",
        "status": 200,
        "response": false,
        "rawHeaders": [
            "Content-Type",
            "text/plain; charset=UTF-8",
            "X-Cloud-Trace-Context",
            "6737fa6824ccbca1e61b7495e536f5e0",
            "X-RapidAPI-Version",
            "1.2.8",
            "X-RapidAPI-Region",
            "AWS - eu-central-1"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:33229",
        "method": "GET",
        "path": "/extern/hatespeech?text=HELLO",
        "body": "",
        "status": 200,
        "response": {
            "data": false
        },
        "rawHeaders": [
            "Express",
            "*",
            "Content-Type",
            "application/json; charset=utf-8",
            "14",
            "ETag",
            "W/\"e-66Kg1i/Prnika7fkvfgOCHV/pA8\"",
            "Tue, 31 Jan 2023 13:31:38 GMT",
            "close"
        ],
        "responseIsBinary": false
    }
]