[
    {
        "scope": "https://api.themoviedb.org:443",
        "method": "GET",
        "path": "/3/movie/-1/similar?api_key=fb73e59a39ce4d841ab2597bdf8b7003&trophies=true",
        "body": "",
        "status": 404,
        "response": {
            "success": false,
            "status_code": 34,
            "status_message": "The resource you requested could not be found."
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=utf-8",
            "100",
            "Sat, 28 Jan 2023 09:39:12 GMT",
            "openresty",
            "public, max-age=28800",
            "X-Memc",
            "MISS",
            "X-Memc-Key",
            "f2690cb59024c9536f708ddfed2b53a873c5ff65",
            "X-Memc-Age",
            "0",
            "X-Memc-Expires",
            "16085",
            "Error from cloudfront",
            "1.1 78720628b37ebf3e33c42dc098252ee8.cloudfront.net (CloudFront)",
            "FRA56-P7",
            "h3=\":443\"; ma=86400",
            "glKl-MwLZbZBihK2MFrQu7pXbHJMiPW9VXzx9brachXlEyZiWP8C8g==",
            "5380"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:45001",
        "method": "GET",
        "path": "/extern/movie/-1/recommendations",
        "body": "",
        "status": 500,
        "response": "",
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    }
]